<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="../static/img/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    <script type="text/javascript" src="../static/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="../static/js/ui.js"></script>
    <script type="text/javascript"
            src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.6/dist/loadingoverlay.min.js"></script>
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?035a2b13b350a98102f14793f806503b";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

    <title>AEasy SDK official website | allows you to quickly, conveniently, complete the development of pp block chain
        technology</title>
</head>
<body>

<div class="bg"></div>
<div class="dian">
    <img src="../static/img/dian.png"/>
</div>
<div class="body">
    <div class="header">
        <div class="logo">
            <img src="../static/img/android-chrome-256x256.png" alt="">
        </div>
        <div class="menu">
            <ul>
                <li><a href="#">HOME</a></li>
                <li>
                    <a class="down-arrow-aepps" href="#">ÆPPS</a>
                    <div class="ui-search-select-list-aepps">
                        <a class="select-item" href="https://base.aepps.com/">BASE AEPP</a>
                        <a class="select-item" href="https://airgap.it/">AIRGAP</a>
                    </div>
                </li>
                <li>
                    <a class="down-arrow-zoology" href="#">ZOOLOGY</a>
                    <div class="ui-search-select-list-zoology">
                        <a class="select-item" href="https://www.aechina.io/">AECHNIA</a>
                        <a class="select-item" href="https://www.aeknow.org/">AEKNOW</a>
                    </div>
                </li>
                <li><a href="https://www.showdoc.cc/AEASY">DOCUMENT</a></li>
                <li><a class="login" href="./login.html">LOGIN</a></li>
            </ul>
        </div>
    </div>

    <div class="content">
        <div class="slogan-title">
            AEasy is Convenient</br>
            Aeternity Framework
        </div>
        <div class="slogan-content">
            AEasy quickly, conveniently realize Aeternity aaepp development
        </div>
        <div class="start">
            <a href="./login.html" target="_blank">Quick Start</a>
        </div>
    </div>

    <div class="footer">
        <div class="line"></div>
        <div class="foot-content">
            <div class="about">
                <div class="icon">
                    <img src="../static/img/about.png" alt="about">
                </div>
                <div class="title">About AEasy</div>
                <div class="sub">We are passionate about designing more aepp</div>
            </div>
            <div class="help">
                <div class="icon">
                    <img src="../static/img/contact.png" alt="about">
                </div>
                <div class="title">Giving the address</div>
                <div class="sub">ak_2pqYSBpEkykFy11KFZXxDJaB8KugXBi2JxraqZXpTaXzreYb95</div>

            </div>
            <div class="contact">
                <div class="icon">
                    <img src="../static/img/help.png" alt="about">
                </div>
                <div class="title">Contact us</div>
                <div class="sub">WeChat:s283122529 QQ:283122529</div>


            </div>
        </div>


    </div>


</div>


</body>

</html>
