<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/x-icon" href="../static/img/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="../static/css/tokens_create.css">
    <script type="text/javascript" src="../static/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery.qrcode.min.js"></script>
    <script type="text/javascript" src="../static/js/sweetalert.min.js"></script>
    <script type="text/javascript"
            src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.6/dist/loadingoverlay.min.js"></script>

    <script type="text/javascript" src="../static/js/ui.js"></script>

    <title>AEasy SDK official website | allows you to quickly, conveniently, complete the development of pp block chain
        technology</title>
</head>
<style>
    .swal-button {
        background-color: #ff0d6a;
        color: #fff;
        border: none;
        box-shadow: none;
        border-radius: 5px;
        font-weight: 600;
        font-size: 14px;
        padding: 10px 24px;
        margin: 0;
        cursor: pointer;
    }

    .swal-button:active {
        background-color: #b8094c;
    }

    .swal-button:not([disabled]):hover {
        background-color: #b8094c;
    }

    .swal-button:hover {
        background-color: #b8094c;
    }
</style>
<body>

<div class="div-bg">
    <div class="bg"></div>
</div>

<div class="body">
    <div class="header">
        <div class="logo">
            <img src="../static/img/android-chrome-256x256.png" alt="">
        </div>
        <div class="menu">
            <ul>
                <li><a href="https://www.showdoc.cc/AEASY" target="_blank">DOCUMENT</a></li>
                <li><a id="go-logout" class="login" href="#">LOGOUT</a></li>
            </ul>
        </div>
    </div>


    <div class="card">
        <div class="left">
            <p class="p-h1" style="margin-top: 40px">CREATE YOUR TOKENS</p>
            <p class="p-title" style="margin-top: 10px">Name</p>
            <div>
                <label>
                    <input id="name" class="input" type="text" maxlength="5"
                           onkeyup="this.value=this.value.replace(/[^a-zA-Z]/g,'')"/>
                </label>
            </div>
            <p class="p-hint">This option is the name of the published currency</p>
            <p class="p-title">Count</p>
            <div>
                <input id="count" class="input" type="tel" maxlength="12"
                       onkeyup="this.value=this.value.replace(/\D/g,'')">
            </div>
            <p class="p-hint">This option is the number of published currencies</p>
            <p class="p-balance">Balance Token : <span class="span-balance">{{.Token}}</span> ae</p>
            <div id="create-token" class="start">
                <a href="#">CREATE</a>
            </div>

        </div>
        <div class="right">
            <p class="private-title" style="margin-top: 40px">REQUIREDS</p>
            <p class="private">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;AEASY to distribute your own tokens, the current
                issued currency name is less than 5 characters, the amount is less than 999999999999, and it is not
                allowed to use the stock for illegal ACTS or fraud, . The cost of creating tokens is 0ae. We also provide
                a complete set of apis that allow you to use functions such as money transfers. Just use the account
                appid and appSecret. The token created with AEASY will display the currency on the BOXAEPP wallet for
                free, and will have the transfer function.
                <br/><br/>

                <span class="bonus">
                    Bonus mechanism:  To be determined<br/>
                <br/>
                    <br/>
              </span></p>
        </div>

    </div>


</div>

</body>
<script>
    $(function () {
        $('#create-token').on('click', function () {

            swal("Are you sure to issue this currency based on ae public chain?", {
                buttons: {
                    cancel: "Cancel",
                    catch: {
                        text: "OK",
                        value: "ok",
                    },
                },
            })
                .then((value) => {
                    switch (value) {
                        case "ok":
                            $.LoadingOverlay("show");
                            setTimeout(function () {
                                let name = $('#name').val();
                                let count = $('#count').val();

                                $.post("/token/create", {name: name, count: count}, function (result) {
                                    let obj = jQuery.parseJSON(result);
                                    if (obj.code === 200) {
                                        swal("Token sucess!", "Congratulations on your successful creation to tokens!", "success", {
                                            button: "OK!",
                                        }).then((value) => {
                                            window.location.href = '/token';
                                        });
                                    } else {
                                        swal(obj.msg);
                                    }
                                    $.LoadingOverlay("hide");
                                });


                            }, 1500);

                            break;
                    }
                });
        });

    });


</script>
</html>
