
* {
    padding: 0;
    margin: 0;
}


html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    width: 100%;
    overflow: hidden;
    height: 100%;
    background: #F5F5F5;
}

li {
    list-style-type: none;
}


/*.base {*/
/*    width: 800px;*/
/*    height: 500px;*/
/*    background: white;*/
/*    !*水平居中*!*/
/*    position: relative;*/
/*    top: 50%; !*偏移*!*/
/*    margin: -250px auto 0;*/
/*    display: flex;*/
/*    overflow: hidden;*/
/*    border-radius: 10px;*/
/*    box-shadow: 10px 10px 10px 10px rgba(0.1, 0.1, 0.1, 0.1);*/
/*}*/
.header{
    z-index: 999;
}

.header img{
    width: 100%;
}


.base {
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    overflow: hidden;
}


.base .bg {
    width: 100%;
    height: 100%;
    background-image: url("https://aeternity.com/brandguide/assets/images/logo-white.png");
    background-size: 320px 200px;
    background-repeat: no-repeat;
    background-position: 50% 50%;

}


 .bg {
     width: 100%;
     height: 100%;
    z-index: -1;
    overflow: hidden;
}

 .bg .bg1 {
    height: 110px;
    z-index: -1;
    left: 177px;
    top: 408px;
    position: absolute;
}


 .bg .bg2 {
    width: 45px;
    height: 45px;
    top: 150px;
    left: 344px;
    z-index: -1;
    position: absolute;
}

 .bg .bg3 {
    width: 174px;
    height: 174px;
    z-index: -1;
    top: 203px;
    right:189px;
    position: absolute;
}

 .bg .bg4 {
    width: 25px;
    height: 25px;
    z-index: -1;
    top: 506px;
    right: 348px;
    position: absolute;
}

.bg5 {
    width: 589px;
    height: 352px;
    z-index: -1;
    top: 301px;
    right: -290px;
    position: absolute;
    background-image: linear-gradient(129deg, #E71766 0%, #FF4D90 100%);
    border-radius: 83px 0px 0px 83px;
}

.bg6 {
    width: 589px;
    height: 352px;
    z-index: -1;
    top: 301px;
    right: -290px;
    position: absolute;
    background-image: linear-gradient(129deg, #E71766 0%, #FF4D90 100%);
    border-radius: 83px 0px 0px 83px;
}

 .bg .bg6 {
    width: 184px;
    height: 17px;
    z-index: -1;
    opacity: 0.1;
    top: 260px;
    background-image: linear-gradient(-39deg, #FF498E 0%, #E513A6 100%);
    left: 160px;
    position: absolute;
}

 .bg .bg7 {
    width: 17px;
    height: 17px;
    z-index: -1;
    top: 434px;
    right: 614px;
    opacity: 0.9;
    transform: rotate(169deg);
    background: #50E3C2;
    border-radius: 17px;
    position: absolute;
}

 .bg .bg8 {
    width: 32px;
    height: 32px;
    z-index: -1;
    top: 589px;
    right: 754px;
    transform: rotate(169deg);
    background: #19A3FF;
    position: absolute;
    border-radius: 32px;
}



.banner {
    width: 65%;
    height: 100%;

    background-image: linear-gradient(116deg, #F83C92 00%, #F83C92 80%);

}

.content {
    width: 500px;
    height: 500px;
    position: absolute;
    left: 50%;
    top: 180px;
    z-index: 998;
    margin-left: -250px;
}

.content .div-login {
    margin-left: 60px;
    margin-right: 60px;
    overflow: hidden;
}

.content .display-none {
    display: none;
}


.content .div-login .p-login {
    font-size: 40px;
    font-weight: bold;
}

.content .div-login .p-register {
    font-size: 16px;
    margin-top: 15px;
}

.content .div-login .register {
    color: #F83C92;

}

.content .div-login .div-email {
    height: 44px;
    margin-top: 37px;

}

.content .div-login .p-email {
    float: left;
    width: 90px;
    font-size: 16px;
}


.content .div-login .input-email {
    height: 44px;
    width: 100%;
    border-radius: 22px;
    border-color: #d6d6d0;
    padding-left: 20px;
    float: left;
    border-style: solid;
    border-width: 1px;
    font-size: 16px;
    outline: none;
}

.content .div-login .div-password {
    height: 33px;
    margin-top: 20px;
}

.content .div-login .p-password {
    float: left;
    width: 90px;
    font-size: 16px;
}

.content .div-login .input-password {
    height: 44px;
    width: 100%;
    float: left;
    font-size: 16px;
    border-radius: 22px;
    border-color: #d6d6d0;
    border-style: solid;
    padding-left: 20px;
    border-width: 1px;
    outline: none;
}


.content .div-login .p-forget {
    float: right;
    margin-top: 20px;
    text-align: right;
    color: black;

}

.content .div-login .login {
    width: 100%;
    height: 45px;
    background-image: linear-gradient(116deg, #F83C92 0%, #F83C92 90%);
    border-radius: 23px;
    color: white;
    font-size: 16px;
    line-height: 45px;
    margin-top: 80px;
    letter-spacing: 1.2px;
    text-align: center;
    text-decoration: none;
    display: block;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}

/*=====================================================*/

.content .div-register {
    margin-left: 60px;
    margin-right: 60px;
    margin-top: -20px;
    overflow: hidden;
}

.content .div-register .p-register {
    font-size: 40px;
    font-weight: bold;
}

.content .div-register .p-login {
    font-size: 16px;
    margin-top: 15px;

}

.content .div-register .login {
    color: #f72a6f;
}

.content .div-register .div-email {
    height: 44px;
    margin-top: 20px;
}

.content .div-register .p-email {
    float: left;
    width: 80px;
    margin-top: 30px;
}


.content .div-register .input-email {
    height: 44px;
    width: 100%;
    border-radius: 22px;
    border-color: #d6d6d0;
    padding-left: 20px;
    float: left;
    border-style: solid;
    border-width: 1px;
    font-size: 16px;
    outline: none;
}

.content .div-register .div-captcha {
    height: 44px;
    margin-top: 20px;
}

.content .div-register .div-captcha .p-captcha {
    float: left;
    width: 80px;

    font-size: 16px;
}

.content .div-register .div-captcha .input-captcha {
    height: 44px;
    width: 65%;
    border-radius: 22px;
    border-color: #d6d6d0;
    padding-left: 20px;
    float: left;
    border-style: solid;
    border-width: 1px;
    font-size: 16px;
    outline: none;
}

.content .div-register .div-captcha .a-captcha {
    width: 30%;
    height: 44px;
    background-image: linear-gradient(116deg, #F83C92 0%, #F83C92 90%);
    border-radius: 23px;
    color: white;
    font-size: 16px;
    line-height: 44px;
    margin-left: 5%;
    letter-spacing: 1.2px;
    text-align: center;
    text-decoration: none;
    display: block;
    float: left;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}


.content .div-register .div-password {
    height: 44px;
    margin-top: 20px;
}

.content .div-register .p-password {
    float: left;
    width: 80px;
    font-size: 16px;
}

.content .div-register .input-password {
    height: 44px;
    width: 100%;
    border-radius: 22px;
    float: left;
    font-size: 16px;
    border-color: #d6d6d0;
    border-style: solid;
    padding-left: 20px;
    border-width: 1px;
    outline: none;
}


.content .div-register .register {
    width: 100%;
    height: 45px;
    background-image: linear-gradient(116deg, #F83C92 0%, #F83C92 90%);
    border-radius: 23px;
    color: white;
    font-size: 16px;
    line-height: 45px;
    margin-top: 30px;
    letter-spacing: 1.2px;
    text-align: center;
    text-decoration: none;
    display: block;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}

.privacy {
    width: 100%;
    text-align: center;
    display: block;
    margin-top: 40px;
    color: black;
}
